<div class="header">
	<h3 class="text-muted">DenTopThree</h3>
</div>

<div class="jumbotron">
	<h2>What Are Your Top Three?</h2>
	<input class="list-search" ng-model="listName" type="text" placeholder="List Name">
	<br/>
	<br/>
	<button class="btn btn-blue" ng-click="createList(listName)">Create list</button>
</div>
<h3>Top 3 Lists</h3>
<div class="row marketing">
	<ul class="topThreeLists">
		<li class="topThreeList" ng-repeat="list in topThreeLists | filter:listName">
			<h4><a href="#/{{list.name}}">{{list.name}}</a> </h4>
			<ul class="list-items">
				 <li ng-repeat="item in list.items">
			        {{item.name}}
		        </li>
			</ul>
		 </li>
	</ul>

</div>