<div class="jumbotron">
	<form id="createListForm" name="createListForm" ng-submit="createList(listName)">
		<h2>What Are Your Top Three?</h2>
		<p class="error-msg" ng-if="listNameInUse">That list already exists!</p>
		<input class="list-search" ng-class="{'invalid': listNameInUse}" ng-model="listName" type="text" placeholder="List Name">
		<br/>
		<br/>
		<button class="btn btn-blue">Create list</button>
	</form>
</div>
<h3>Top 3 Lists</h3>
<div class="row marketing">
	<ul class="topThreeLists">
		<li class="topThreeList" ng-repeat="list in topThreeLists | filter:listName">
			<h4><a href="#/{{list.name}}">{{list.name}}</a> </h4>
			<ul class="list-items">
				 <li ng-repeat="item in list.items">
			        {{item.name}}
		        </li>
			</ul>
		 </li>
	</ul>

</div>